$black: #111111;
$white: #ffffff;
$backgroundColor: $black;
$backgroundSecondaryColor: #8f2d56;
$secondaryColor: #4a4a4a;
$darkOpacity: #000000a8;
$accentColor: #9888ff;
$accentColor2: #7d57a6;
$accentColor3: #331e49;
$accentColor4: #5f3e82;
