@mixin sectionDefault {
  padding: 20px;
  display: flex;
  justify-content: center;
}

@mixin sectionTitle {
  top: 20px;
  position: absolute;
  color: white;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-transform: uppercase;
  padding-bottom: 7px;
  border-bottom: 5px white solid;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
