@import "./colors";

@mixin sectionDefault {
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  padding-bottom: 100px;
  padding-top: 190px;
}

@mixin sphereTitle {
  position: absolute;
  width: 35em;
  height: 20em;
  bottom: 0px;
  border-radius: 50em 50em 0em 0em;
  transition: all 1 ease;

  @media (min-width: 539px) {
    width: 40em;
    height: 20em;
  }

  @media (min-width: 880px) {
    width: 56em;
    height: 28em;
    bottom: -138px;
  }

  @media (min-width: 1100px) {
    width: 72em;
    height: 37em;
    bottom: -286px;
  }

  @media (min-width: 1245px) {
    width: 87em;
    height: 44em;
    bottom: -386px;
  }

  @media (min-width: 1350px) {
    width: 99em;
    height: 50em;
    bottom: -485px;
  }
}

@mixin sectionColumn {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin sectionYellow {
  @include sectionDefault;
  background: $backgroundColor;
}

@mixin sectionBlack {
  @include sectionDefault;
  background: $black;
}

@mixin sectionTitle {
  background-color: #1d7ca1;
  color: $white;
  position: absolute;
  white-space: nowrap;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-transform: Uppercase;
  padding-bottom: 7px;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  border-bottom: 6px #104559 solid;
  border-left: 4px #0b2e3c solid;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@mixin titleWrapper {
  top: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  margin: 23px 0px;
  flex-direction: column;
  z-index: 1;
}

@mixin shield {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  gap: 0px;

  .link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 10px;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-bottom: 6px #b1b1b1 solid;
    border-left: 4px #ffffff solid;
    background-color: #63bfe3;
    color: #0d3a4b;
    border-bottom: 6px #46b3de solid;
    border-left: 4px #29a7d9 solid;
  }

  .actionWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__activeLamp {
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
      margin-top: 0px;
    }
  }

  &__top {
    background-color: #4e4e4e;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: "Archivo Black";
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 0px;
      text-transform: uppercase;
      font-weight: bolder;
      color: #2d2d2d;
      z-index: 2;
    }
  }

  &__danger {
    position: relative;
    top: 10px;
    width: 100%;
    height: 30px;
    color: white;

    padding: 1.5rem;

    background: repeating-linear-gradient(
      -45deg,
      #eed936,
      #eed936 25px,
      #141617 25px,
      #141617 50px
    );
  }
  &__glass {
    border: #4e4e4e 20px solid;
    background-color: rgba(16, 0, 46, 0.464);
    width: 100%;
    height: 100%;
  }
}

@mixin bulb {
  margin-top: 70px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  z-index: 1;
  border: 4px solid #e5e5e5;
}

@mixin titleBlack {
  @include sectionTitle;
}

@mixin titleWhite {
  @include sectionTitle;
}

@mixin techDefault {
  display: inline-block;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: $black;
  margin: 0;
  padding: 13px 10px;
  margin: 5px;
  background-color: white;
}
