@import "./colors";
@import "./mixins";

.section {
  @include sectionBlack;
  @include sectionColumn;
  height: 100%;
  box-shadow: 0px 0px 203px 340px $black inset;

  @media (max-width: 971.98px) {
    box-shadow: 0px 0px 203px 280px $black inset;
  }

  @media (max-width: 720px) {
    box-shadow: 0px 0px 203px 230px $black inset;
  }

  @media (max-width: 523px) {
    box-shadow: 0px 0px 203px 180px $black inset;
  }

  @media (max-width: 439px) {
    box-shadow: 0px 0px 203px 170px $black inset;
  }

  @media (max-width: 349px) {
    box-shadow: 0px 0px 203px 120px $black inset;
  }

  background: conic-gradient(
    from 180deg at 50% 50%,
    #860c14 -20.83deg,
    #47045e 20.64deg,
    #4c0265 51.89deg,
    #151515 52.79deg,
    #52006f 111.33deg,
    #151515 112.73deg,
    #4d0268 153.12deg,
    #8b0d0d 211.12deg,
    #151515 245.19deg,
    #960c0c 246.54deg,
    #151515 305.57deg,
    #750e0e 306.64deg,
    #860c14 339.17deg,
    #47045e 380.64deg
  );

  &__title {
    @include titleWhite;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }
}

.shield {
  @include shield;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 330px;

  @media screen and (min-width: 400px) {
    height: 430px;
  }

  @media screen and (min-width: 470px) {
    width: 400px;
  }
}

.about {
  margin-top: 50px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  align-items: center;
  text-align: center;
  color: $white;
  padding: 0px 10px;
  min-width: 150px;
  max-width: 570px;

  @media screen and (min-width: 450px) {
    font-size: 20px;
  }

  @media screen and (min-width: 550px) {
    font-size: 25px;
  }
}
