@import "./colors";
@import "./mixins";

.section {
  @include sectionBlack;
  @include sectionColumn;
  height: 100%;

  &__title {
    @include sectionTitle;
  }
}

// .imageWrapper {
// }

.about {
  margin-top: 50px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #e5e5e5;
  padding: 0px 10px;
  min-width: 150px;
  max-width: 370px;
}
