@import "./colors";
@import "./mixins";

.section {
  z-index: 1;
  @include sectionBlack;
  @include sectionColumn;
  background: $accentColor;

  height: 100%;

  &__title {
    @include titleWhite;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }
}

.shield {
  @include shield;
}

.imageWrapper {
  position: relative;
  width: 600px;
  height: 400px;
  object-fit: contain;

  @media screen and (max-width: 664px) {
    width: 400px;
  }

  @media screen and (max-width: 444px) {
    width: 280px;
  }
}

.about {
  margin-top: 50px;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  text-align: center;
  color: $white;
  padding: 0px 10px;
  min-width: 150px;
  max-width: 445px;
  line-height: 28px;
  @media screen and (min-width: 450px) {
    font-size: 20px;
  }

  @media screen and (min-width: 550px) {
    font-size: 20px;
  }
}

.position {
  color: $accentColor;
  font-weight: 600;
}
