@import "./colors";
@import "./mixins";

.section {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 776.98px) {
    justify-content: flex-start;
  }

  &__line {
    top: 0px;
    height: 240px;
    width: 5px;
    background: #fdd85c;
    position: fixed;
    z-index: 2;

    @media (max-width: 776.98px) {
      margin-left: 23px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: inline-block;
    height: 100%;
    width: 5px;
    background: #f3f3f3;

    @media (max-width: 776.98px) {
      margin-left: 23px;
    }
  }

  &::before {
    content: " ";
    height: 200px;
    position: absolute;
    top: 0px;
    z-index: 2;
    background: linear-gradient(180deg, #ffffff 0%, rgba(17, 17, 17, 0) 100%);
    width: 100%;
  }

  &__title {
    @include titleWhite;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }
}

.shield {
  @include shield;
}

.experience {
  margin: 180px 0px 180px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  &__title {
    width: 100%;
    max-width: 410px;
    min-width: 250px;

    @media (max-width: 776.98px) {
      grid-column: 2 / span 2;
    }

    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 362px;
    align-items: flex-start;

    p {
      display: inline-block;
      margin: 0;
      font-weight: 400;
      line-height: 16px * 1.618;
    }
    h3 {
      margin: 0;
    }

    @media (max-width: 366.98px) {
      height: 562px;
    }

    // @media (max-width: 950.98px) {
    //   max-width: 310px;
    // }

    .periodExperiance {
      margin: 0;
      border: 2px white solid;
      display: inline-block;
      justify-self: start;
      border-radius: 100px;
      padding: 2px 10px;
    }
  }

  &__wrapper {
    text-decoration: none;
    display: grid;
    grid-template-columns: 410px 50px 410px;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: start;
    justify-items: center;

    @media (max-width: 972.98px) {
      grid-template-columns: 310px 50px 310px;
    }

    @media (max-width: 776.98px) {
      grid-template-columns: 50px 310px 310px;
      grid-template-rows: repeat(1, 120px);
      justify-content: start;
    }

    @media (max-width: 627.98px) {
      grid-template-columns: 50px 210px 210px;
    }

    @media (max-width: 513.98px) {
      grid-template-columns: 50px 150px 150px;
    }

    @media (max-width: 513.98px) {
      grid-template-columns: 50px 130px 130px;
      grid-template-rows: repeat(1, 160px);
    }

    @media (max-width: 366.98px) {
      grid-template-columns: 50px 110px 110px;
    }

    margin: 180px 0px;
    width: 100%;
    gap: 25px;
    position: relative;
  }

  &__sphere {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 4px solid #fdd85c;
    z-index: 4;
    transition: border 0.3s ease-in-out;

    @media (max-width: 776.98px) {
      order: -1;
    }
  }
}

.imageWrapper {
  position: relative;
  width: 600px;
  height: 400px;
  object-fit: contain;

  @media screen and (max-width: 664px) {
    width: 400px;
  }

  @media screen and (max-width: 444px) {
    width: 280px;
  }
}

.about {
  margin-top: 50px;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  text-align: center;
  color: $white;
  padding: 0px 10px;
  min-width: 150px;
  max-width: 445px;
  line-height: 28px;
  @media screen and (min-width: 450px) {
    font-size: 20px;
  }

  @media screen and (min-width: 550px) {
    font-size: 20px;
  }
}

.position {
  color: $accentColor;
  font-weight: 600;
}
