@import "./colors";
@import "./mixins";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.092);
}

.section {
  flex-wrap: wrap;
  position: relative;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;

  &__title {
    @include titleBlack;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }
}

.shield {
  @include shield;
}

.linkWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    width: 60px;
    height: 60px;
    background-color: #1a1a1a;
    border-radius: 8px;
    border-bottom: 6px #b1b1b1 solid;
    border-left: 4px #ffffff solid;
  }
}
