@import "./colors";
@import "./mixins";

.section {
  flex-wrap: wrap;
  position: relative;
  @include sectionYellow;
  height: 100%;
  align-items: center;
  padding-top: 180px;
  padding-bottom: 30px;
  gap: 20px;
  &__title {
    @include titleBlack;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }
}

.shield {
  @include shield;
}

.linkWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    width: 60px;
    height: 60px;
    background-color: #1a1a1a;
    border-radius: 8px;
    border-bottom: 6px #b1b1b1 solid;
    border-left: 4px #ffffff solid;
  }
}
