@import "./colors";

.navbar {
  display: flex;
  justify-content: flex-end;

  &__wrapper {
    position: fixed;
    background-color: $accentColor2;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 100vh;
    z-index: 4;
    font-weight: 700;
    transition: all 200ms ease-in-out;

    li {
      a {
        display: block;
        padding: 20px 105px 20px 20px;
        text-transform: uppercase;
      }
    }

    li:hover {
      background-color: $black;
      color: white;
      transition: all 200ms ease-in-out;
    }

    li:first-child {
      margin-top: 100px;
    }
  }
}

.btnClose {
  width: 60px;
  height: 60px;
  z-index: 5;
  position: fixed;
  top: 23px;
  right: 23px;
}

.background {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $darkOpacity;
  backdrop-filter: blur(7px);
  filter: saturate(0%);
  transition: all 200ms ease-in-out;
  z-index: 3;
}
