@import "./colors";
@import "./mixins";

.section {
  @include sectionBlack;
  padding-top: 250px;
  height: 100%;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  overflow-x: hidden;

  &__title {
    @include titleWhite;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;

    @media (max-width: 1160px) {
      grid-template-columns: repeat(3, 1fr);
    }

    /* For mobile devices and smaller screens */
    @media (max-width: 894px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 607px) {
      grid-template-columns: 1fr;
    }
  }
}

.filter {
  color: #252525;
  display: flex;

  gap: 20px;

  @media (max-width: 607px) {
    flex-direction: column;
    text-align: center;
    min-width: auto;
    width: 100%;
    max-width: 269px;
  }
  p {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    font-size: 18px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #252525;
      color: white;
      transition: all 0.2s ease;
    }
  }
}

.shield {
  @include shield;
}

.project {
  justify-self: center;
  border-radius: 6px;
  filter: grayscale(100%) brightness(50%);
  transition: filter 0.5s ease;
  box-shadow: 0px 0px 40px #eb1eaa5d;

  &:hover {
    transition: filter 0.5s ease;
    filter: grayscale(0%);
  }

  &__img {
    width: 269px;
    height: 190px;
  }
}

.details {
  opacity: 0;
  padding: 10px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.179) 0%, #3b042a64 80.6%);
  position: absolute;
  transition: opacity 0.5s ease;

  .detailsInner {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(10px);
    transition: backdrop-filter 300ms ease-in-out;
  }

  &:hover {
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  &__name {
    margin: 0;
    display: inline-block;
    padding: 5px;
    font-size: 1.1em;
    line-height: 20px;
    text-transform: uppercase;
    color: $white;
  }

  &__action {
    display: inline-block;
    position: relative;
    padding: 5px;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 20px;
    text-transform: uppercase;
    color: white;

    &:after {
      content: "➡️";
      margin-left: 5px;
    }
  }
}
