@import "./colors";
@import "./mixins";

.section {
  flex-wrap: wrap;
  position: relative;
  @include sectionYellow;
  height: 100%;
  align-items: flex-start;
  padding-top: 0px;
  gap: 20px;
  background-color: #ffffff;
}

.linkwrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 15px;

  @media (max-width: 557px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.action {
  padding: 16px 38px;
  background-color: #000000;
  display: inline-block;
  color: #ffffff;
  border-radius: 50px;
  font-weight: 700;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.actionUnpressed {
  text-transform: capitalize;
  padding: 16px 38px;
  background-color: #b0b0b0;
  display: inline-block;
  color: #8b8b8b;
  border-radius: 50px;
  font-weight: 700;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.backLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: absolute;
  height: 20px;
  top: 50px;
  left: 30px;
  padding: 0px;
  cursor: pointer;

  &__backLink {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 0px;
    font-weight: 600;

    font-size: 20px;
    line-height: 25px;
    backdrop-filter: blur(5px);
    color: #000000;
  }
}

.projectPage {
  margin-top: 140px;
  min-width: 190px;
  max-width: 900px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  gap: 40px;

  &__title {
    margin: 0;
    font-size: 45px;
    margin-bottom: 20px;

    @media (max-width: 557px) {
      font-size: 25px;
    }
  }

  &__paragraph {
    margin: 0;
    font-size: 20px;
    margin-bottom: 55px;
  }

  &__imgWrap {
    position: relative;
    flex: 0 1 auto;
    width: 100%;
    height: 700px;
    background-color: white;

    img {
      border-radius: 35px;
      border: solid 2px #f2f2f2;
    }
    @media (max-width: 768px) {
      height: 400px;
    }
    @media (max-width: 526px) {
      height: 300px;
    }
  }

  &__featureList {
    padding: 0px;
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      position: relative;
      align-items: flex-start;
      gap: 20px;
      font-size: 1.1em;
      line-height: (1.1em * 1.618);
      padding: 30px 50px 30px 80px;
      background-color: white;

      @media (max-width: 526px) {
        font-size: 1em;
        line-height: (1em * 1.618);
        padding: 30px 40px;
      }

      &::before {
        content: "";
        margin-top: 11px;
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 50px;
        background-color: #7d57a6;
        border-radius: 100%;
        outline: 6px solid #7d57a646;

        @media (max-width: 526px) {
          left: 15px;
        }
      }
    }
  }
}
