@import "./colors";
@import "./mixins";

.section {
  flex-wrap: wrap;
  position: relative;
  @include sectionYellow;
  height: 100%;
  align-items: flex-start;
  padding-top: 70px;
  gap: 20px;
  background-color: #250d23;
}

.backLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: absolute;
  height: 20px;
  top: 50px;
  left: 80px;
  padding: 0px;
  cursor: pointer;

  &__backLink {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    backdrop-filter: blur(5px);
    color: #ffffff;
  }
}

.projectPage {
  box-shadow: #7d57a6a1 0px 4px 54px;
  flex: 1;
  z-index: 1;
  margin-top: 50px;
  min-width: 190px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);

  &__title {
    text-align: center;
    width: 100%;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 5px rgb(255, 255, 255) solid;
    background-color: #7d57a6;
    padding: 10px;
    margin: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__imgWrap {
    position: relative;
    flex: 0 1 auto;
    width: 100%;
    height: 700px;

    @media (max-width: 768px) {
      height: 400px;
    }
    @media (max-width: 526px) {
      height: 300px;
    }

    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(62, 62, 62, 0.305) 100%
      );
      width: 100%;
      height: 100%;
    }
  }

  &__quote {
    color: #000000;
    padding: 20px 30px;
    margin: 0;
    font-size: 1em;
    line-height: (1em * 1.618);
    max-width: 800px;
    font-weight: 500;
    position: absolute;

    background-color: rgba(255, 255, 255, 0.322);
    border: 1px solid rgba(255, 255, 255, 0.626);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: left;
    z-index: 1;

    @media (max-width: 900px) {
      margin: 20px;
      bottom: -80px;
    }

    @media (max-width: 580px) {
      margin: 20px;
      bottom: -150px;
    }

    @media (max-width: 500px) {
      margin: 20px;
      bottom: -300px;
    }
  }

  &__featureList {
    padding: 0px;
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      font-size: 1.1em;
      line-height: (1.1em * 1.618);
      padding: 30px 50px 30px 50px;
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.092);

      &::before {
        content: "";
        margin-top: 11px;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #7d57a6;
        border-radius: 100%;
        outline: 6px solid #7d57a646;
      }

      @media (max-width: 526px) {
        font-size: 1em;
        line-height: (1em * 1.618);
        padding: 30px 20px;
      }
    }
  }

  &__sectionTitle {
    text-align: left;
    width: 100%;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 7px;
    background-color: #7d57a6;
    padding: 15px;
    margin: 0px;

    &:first-of-type {
      @media (max-width: 900px) {
        padding-top: 80px;
      }

      @media (max-width: 580px) {
        padding-top: 160px;
      }

      @media (max-width: 500px) {
        padding-top: 300px;
      }
    }
  }

  &__techList {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px;
    width: 100%;

    li {
      @include techDefault;
      flex-grow: 1;
      margin: 10px;
      padding: 20px 10px;
      border-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0.092);
      background-color: rgba(255, 255, 255, 0.322);
      border: 1px solid rgba(255, 255, 255, 0.626);
      backdrop-filter: blur(20px);
      box-shadow: #7d57a641 0px 4px 54px;
      font-weight: 500;
    }
  }
}
