.wrapper-scroll {
  padding: 10px 17px 10 30px;
  border-radius: 40px;
  color: #000000;
  position: absolute;
  bottom: 25px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 10px;
  transition: all 0.5s ease;
  font-weight: 600;
  z-index: 4;

  @media (max-width: 471px) {
    bottom: 75px;
  }
}
