@import "./colors";
@import "./mixins";

.section {
  @include sectionYellow;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: inset 0px 0px 155px #eb1eaa11;
  background: repeating-linear-gradient(
    -45deg,
    #26003c,
    #26003c 1.5px,
    #190027 1.5px,
    #140027 50px
  );
  &__title {
    @include titleBlack;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }
}

.shield {
  @include shield;
}

.skill {
  margin: 30px 20px;
  position: relative;
  flex: 1;
  text-align: center;
  min-width: 250px;
  max-width: 430px;
  padding: 35px 0px 0px 0px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 55px #eb1eaa5c;

  &__image {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    padding: 15px;
    border-radius: 100%;
    width: 90px;
    height: 90px;
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: $accentColor2;
    padding: 0px 10px;
    margin-bottom: 5px;
    position: relative;
    bottom: 5px;

    @media (max-width: 495px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__about {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: $accentColor2;
    padding: 18px 20px;
    width: 100%;
    color: $white;
    margin: 0;
    z-index: 1;
    position: relative;

    @media (max-width: 495px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__section {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    text-transform: capitalize;
    color: #ffffff;
    background: #170f04;
    margin: 0;
    padding: 13px 20px;
  }

  &__listItemWrapper {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: $accentColor;
    padding: 9px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 0px 5px 5px;

    li {
      @include techDefault;
      flex-grow: 1;
      font-weight: 500;
      border-radius: 6px;
    }
  }
}
