@import "./colors";
@import "./mixins";

.section {
  @include sectionYellow;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .sphere {
    z-index: 0;
    position: absolute;
    width: 123em;
    height: 103em;
    top: 0px;

    border-radius: 100%;
    background: linear-gradient(
      172.55deg,
      #bd6bf3 9.02%,
      #9b33e0 25.14%,
      #6e34c8 39.47%,
      #5b34ae 53.79%,
      #2f0d76 70.36%,
      #330140 84.24%,
      #260038 93.64%
    );
  }

  &__title {
    @include titleBlack;
  }

  &__bulb {
    @include bulb;
  }

  &__titleWrapper {
    @include titleWrapper;
  }
}

.shield {
  @include shield;
}

.skill {
  margin: 30px 20px;
  position: relative;
  flex: 1;
  text-align: center;
  min-width: 250px;
  max-width: 430px;
  padding: 35px 0px 0px 0px;
  background-color: white;

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #52006f;
    display: inline-flex;
    padding: 15px;
    border-radius: 100%;
  }

  &__title {
    font-family: "Archivo Black";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #52006f;
    padding: 0px 10px;
    margin-bottom: 5px;
  }

  &__about {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    background: #c67ef5;
    padding: 18px 20px;
    width: 100%;
    color: #470060;
    margin: 0;
  }

  &__section {
    font-family: "Archivo Black";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    background: #170f04;
    margin: 0;
    padding: 13px 20px;
  }

  &__listItemWrapper {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #472b84;
    padding: 9px;
    display: flex;
    flex-wrap: wrap;

    li {
      @include techDefault;
      flex-grow: 1;
    }
  }
}
