@import "./colors";
@import "./mixins";

.section {
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  @include sectionDefault;
  height: 100%;
  align-items: flex-start;
  padding-bottom: 100px;
  background: $backgroundColor;

  &__title {
    @include sectionTitle;
  }
}

.skill {
  margin: 0px 20px;
  position: relative;
  margin-top: 120px;
  flex: 1;
  text-align: center;
  min-width: 250px;
  max-width: 370px;
  padding: 35px 0px 0px 0px;
  border-radius: 23px;
  background-color: white;

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbf0d6;
    display: inline-flex;
    padding: 15px;
    border-radius: 100%;
  }

  &__title {
    font-family: "Archivo Black";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #ffba49;
    padding: 0px 10px;
    margin-bottom: 5px;
  }

  &__about {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    background: #dbdbdb;
    padding: 18px 20px;
    width: 100%;
    color: #606060;
    margin: 0;
  }

  &__section {
    font-family: "Archivo Black";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    background: #170f04;
    margin: 0;
    padding: 13px 20px;
  }

  &__listItemWrapper {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #f0d286;
    padding: 9px 0;
    display: flex;
    flex-wrap: wrap;

    li {
      @include techDefault;
      flex-grow: 1;
    }
  }

  &__listItemWrapper:last-child {
    border-radius: 0 0 19px 19px;
  }
}
