@import "./colors";
@import "./mixins";

.section {
  @include sectionDefault;
  @include sectionColumn;
  height: 100vh;
  @media (orientation: landscape) {
    height: 100vh;
  }
  padding-bottom: 100px;
  padding-top: 80px;
}

.sphere {
  position: absolute;
  width: 35em;
  height: 20em;
  bottom: 0px;

  @media (min-width: 539px) {
    width: 40em;
    height: 20em;
  }

  @media (min-width: 880px) {
    width: 56em;
    height: 28em;
    bottom: -138px;
  }

  @media (min-width: 1100px) {
    width: 72em;
    height: 37em;
    bottom: -286px;
  }

  @media (min-width: 1245px) {
    width: 87em;
    height: 44em;
    bottom: -386px;
  }

  @media (min-width: 1350px) {
    width: 99em;
    height: 50em;
    bottom: -485px;
  }

  background: linear-gradient(
    121.57deg,
    #a203db 16.23%,
    #3e34ae 45.27%,
    rgba(50, 0, 68, 0.71) 69.85%
  );
  border-radius: 50em 50em 0em 0em;
}

.title {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  text-transform: uppercase;
  line-height: 52px;
  margin: 15px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;
  @media screen and (min-width: 450px) {
    font-size: 71px;
    line-height: 62px;
  }

  @media screen and (min-width: 550px) {
    font-size: 81px;
    line-height: 72px;
  }

  @media screen and (min-width: 650px) {
    font-size: 111px;
    line-height: 92px;
  }

  @media screen and (min-width: 750px) {
    font-size: 131px;
    line-height: 112px;
  }

  @media screen and (min-width: 850px) {
    font-size: 151px;
    line-height: 122px;
  }
}
.subtitle {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;

  @media screen and (min-width: 450px) {
    font-size: 25px;
  }

  @media screen and (min-width: 550px) {
    font-size: 28px;
  }

  @media screen and (min-width: 650px) {
    font-size: 39px;
  }

  @media screen and (min-width: 750px) {
    font-size: 45px;
  }

  @media screen and (min-width: 850px) {
    font-size: 55px;
  }
}
