@import "./colors";
@import "./mixins";

.noise {
  @include noise;
}

.section {
  @include sectionDefault;
  @include sectionColumn;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 0px;
  overflow: hidden;
  background-color: #ffffff;

  &__innerWrapper {
    // max-width: 1400px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    position: relative;

    @media (max-width: 1050px) {
      flex-direction: column;
    }
  }

  &__wrapper {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
}

// .graphBg {
//   position: fixed;
//   z-index: 1;
//   left: 0px;
//   top: 0px;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .graph1 {
//   width: 500px;
//   height: 200px;
//   position: absolute;
//   top: 0px;
//   left: 14%;
// }

// .graph2 {
//   width: 50px;
//   height: 150px;
//   position: absolute;
//   top: 40px;
//   left: 70px;
// }

// .graph3 {
//   width: 120px;
//   height: 150px;
//   position: absolute;
//   bottom: 0px;
//   left: 0px;
// }

// .graph4 {
//   width: 100px;
//   height: 150px;
//   position: absolute;
//   top: 40px;
//   right: 50px;
// }

// .graph5 {
//   width: 300px;
//   height: 150px;
//   position: absolute;
//   bottom: 0px;
//   left: 40%;
// }

.title-wrap-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.titleSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  width: 100%;
  // white-space: nowrap;
  position: relative;
  z-index: 2;

  cursor: default;
  user-select: none;

  // @media (max-width: 1570px) {
  //   scale: 0.8;
  // }

  // @media (max-width: 1286px) {
  //   scale: 0.7;
  // }

  // @media (max-width: 1112px) {
  //   scale: 0.6;
  // }

  // @media (max-width: 940px) {
  //   scale: 0.5;
  // }

  // @media (max-width: 788px) {
  //   scale: 0.4;
  // }

  // @media (max-width: 632px) {
  //   scale: 0.3;
  // }

  // @media (max-width: 480px) {
  //   scale: 0.22;
  // }

  h1 {
    margin: 0;
  }

  &__description {
    font-size: 23px;
    font-weight: 500;
    width: 350px;
  }

  &__title2 {
    font-weight: 500;
    font-size: 200px;
    text-transform: uppercase;
    line-height: 90%;

    @media (max-width: 800px) {
      font-size: 140px;
    }

    @media (max-width: 602px) {
      font-size: 110px;
    }

    @media (max-width: 496px) {
      font-size: 85px;
    }

    @media (max-width: 396px) {
      font-size: 80px;
    }

    @media (max-width: 360px) {
      font-size: 70px;
    }
  }

  .preview {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }

  &__title3 {
    font-size: 22px;
    padding-left: 15px;
    @media (max-width: 800px) {
      padding-left: 10px;
    }

    @media (max-width: 602px) {
      padding-left: 5px;
      font-size: 22px;
    }

    @media (max-width: 496px) {
      display: none;
    }
  }
}

.handstyle {
  width: 40px;
  height: 40px;
  position: relative;
}

.logo2 {
  height: 60vh;
  width: 50vh;
  display: flex;
  overflow: hidden;
}

@keyframes bgAnimation {
  0% {
    background-position: 0 300%;
  }

  100% {
    background-position: -400% 0;
  }
}

.spherewrapper {
  @media (min-width: 1025px) {
    @include sphereTitle;
    outline: 20em solid $black;
  }
}

.sphere1 {
  @include sphereTitle;

  @media (min-width: 1025px) {
    filter: blur(85px);
  }

  background: linear-gradient(135deg, #ec1c24 0%, #6b006b 100%);

  background-size: 150%;
  background-position: left;
  transition: all 1s linear;

  @media (min-width: 1025px) {
    animation: bgAnimation 15s linear infinite alternate;
  }
}

.title {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  text-transform: uppercase;
  line-height: 52px;
  margin: 15px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;
  @media screen and (min-width: 450px) {
    font-size: 71px;
    line-height: 62px;
  }

  @media screen and (min-width: 550px) {
    font-size: 81px;
    line-height: 72px;
  }

  @media screen and (min-width: 650px) {
    font-size: 111px;
    line-height: 92px;
  }

  @media screen and (min-width: 750px) {
    font-size: 131px;
    line-height: 112px;
  }

  @media screen and (min-width: 850px) {
    font-size: 151px;
    line-height: 122px;
  }
}
.subtitle {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;

  @media screen and (min-width: 450px) {
    font-size: 25px;
  }

  @media screen and (min-width: 550px) {
    font-size: 28px;
  }

  @media screen and (min-width: 650px) {
    font-size: 39px;
  }

  @media screen and (min-width: 750px) {
    font-size: 45px;
  }

  @media screen and (min-width: 850px) {
    font-size: 55px;
  }
}
